.large { font-size: 130% }
.larger { font-size: 160% }
.small { font-size: 80% }
.double {font-size: 200% }
.super { font-size: 250% }
.super-duper { font-size: 500% }

pre {
  background: #F5F5F5;
    max-height: 100%;
  overflow-y: scroll;
}

.remark-inline-code{
  background: #F5F5F5; /* lighter */
  /*background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
  color: #DD1144;
}
